<div class="card">
    <div class="card-header">
        當前公告類別
    </div>
    <ul class="list-group list-group-flush">
        {{#each bulletincategory}}
        <li class="list-group-item">{{this.id}} - {{this.name}}</li>
        {{/each}}
    </ul>
</div>

<form action="/bulletincategory/create" method="POST">
    <div class="mb-4 mt-4 text-center">
        <h1 class="h3 font-weight-normal mb-3">新增公告類別</h1>
    </div>
    <div class="form-row mb-3">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="輸入公告類別" required>
    </div>
    <div class="form-row mb-3">
        <label class="form-label" for="Description">Description</label>
        <input class="form-control" type="text" name="Description" id="Description" placeholder="輸入公告類別相關描述" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-danger" href="/bulletin">Return</a>
</form>