<div class="container">
    <nav class="nav  nav-tabs">
        <a class="nav-link" href="/">首頁</a>
        <a class="nav-link active" aria-current="page" href="/categories">資產類別</a>
        <a class="nav-link" href="/offices">辦公室類別</a>
        <a class="nav-link" href="/officeAssets">個別辦公室資產</a>
    </nav>
    <div class="h2 mt-3">資產類別
        <a href='/createCategories'>
            <button type="button" class="btn btn-success">新增資產</button>
        </a>
    </div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                {{!-- <th scope="col">Category</th> --}}
                <th scope="col">Name</th>
                <th scope="col" colspan="3">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each categories}}
            <tr>
                <th scope="row">1</th>
                {{!-- <td>辦公室設備</td> --}}
                <td>{{this.name}}</td>
                {{!-- <td><a href="/categories" class="link-success">Show</a></td> --}}
                <td>
                    <button type="button" class="btn btn-link">
                        <a class="btn btn-link link-primary" href="/editCategories/{{this.id}}">
                            Edit
                        </a>
                    </button>

                    <form action="/deleteCategory/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-link link-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>