<div class="container">

    <div class="card">
        <div class="card-header">
            加入資產
        </div>
        <div class="position-relative m-5 mt-5">
            <div class=" progress" style="height: 5px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    style="width: 33.3%;">
                </div>
            </div>
            <button type="button"
                class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill"
                style="width: 2rem; height:2rem;">1</button>

            <button type="button"
                class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill"
                style="width: 2rem; height:2rem; left:33.3%!important;">2</button>
            <button type="button"
                class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary rounded-pill"
                style="width: 2rem; height:2rem; left:66.6%!important;">3</button>
            <button type="button"
                class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill"
                style="width: 2rem; height:2rem; ">4</button>

        </div>
        <div class="card-body">
            <div class="row mt-2">
                <div class="col border">
                    <video id="addAssetScanner" height="150" style="margin: 0 auto; display:block;" class="border"
                        autoplay playsinline></video>
                </div>
            </div>

            <div class="mt-2">當前 gatepass 資產</div>
            <div class="row ">
                <div class="col-2">
                    #
                </div>
                <div class="col-3">
                    名稱
                </div>
                <div class="col-3">
                    編號
                </div>
                <div class="col-3">
                    圖片
                </div>
            </div>
            <div id="prepareToGatepassArea">

            </div>
            <button class="btn btn-outline-primary btn-block mt-5" id="confirmBtn">確認送出 gatepass</button>
        </div>

    </div>

</div>
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script>
    const gpId = {{ gatepass.id }}

    const gpbOfficeId = {{ gatepass.b_office_id }}
    let prepareToGatepassArea = document.querySelector('#prepareToGatepassArea')
    const addAssetScanner = new Instascan.Scanner({ video: document.getElementById('addAssetScanner'), scanPeriod: 5, mirror: false });
    const confirmBtn = document.querySelector('#confirmBtn')
    getGatepassDate(gpId)
    openCamera(addAssetScanner)

    addAssetScanner.addListener('scan', function (content) {
        //console.log(content)
        // 分辨 QR code 類型
        let gatepassId = content.match(/gatepassId=\d+/)
        let assetId = content.match(/assetId=\d+/)

        if (gatepassId) {
            console.log('辨別為 gatepass qrcode')
            gatepassId = gatepassId[0].replace(/gatepassId=/, '')
            alert('當前為 gatepass QR code, 請掃描資產 QR code')
        } else if (assetId) {
            assetId = assetId[0].replace(/assetId=/, '')
            console.log('辨別為 asset qrcode : ' + assetId)
            alert('辨別為資產 qrcode : ' + assetId)
            axios.all([axios.post('/api/qrcode/asset/transfer', { assetId, gpId: gpId })])
                .then(([transfer]) => {
                    console.log(transfer)
                    if (transfer.data.inTransfer) {
                        alert(transfer.data.message)
                        //history.go(0)
                    } else {
                        if (transfer.data.data.officeId === gpbOfficeId) {
                            console.log('該資產與gatepass辦公室相同, 可以進行移轉')
                            axios.post('/api/qrcode/asset/to/transfer2', { assetId: assetId, gatepassId: gpId })
                                .then(response => {
                                    // console.log(response)
                                    if (response.status === 200) {
                                        history.go(0)
                                    }
                                })
                                .catch(err => {
                                    console.log(err)
                                })

                        } else {
                            alert('請掃描與當前 gatepass 相同辦公室的資產')
                        }
                    }
                })
        } else {
            alert('請輸入公司格式的 qrcode')
        }
    })

    confirmBtn.addEventListener('click', () => {
        console.log(gpId)
        alert('確認送出 gatepass')
        let check = confirm('是否送出gatepass進行資產移轉')
        console.log(check)
        if (check) {
            console.log(gpId)
            axios.post('/api/qrcode/asset/to/transfer3', { gatepassId: gpId })
                .then(response => {
                    console.log(response)
                    if (response.data.status === 'ok') {
                        alert('gatepass 成立, 資產狀態修改為移轉中')
                        window.location.href = `https://10.4.100.241:3000/gatepass`
                    } else {
                        alert(response.data.message)
                    }
                })
                .catch(err => {
                    console.log(err)
                })
        }
    })

    // 開啟鏡頭 
    function openCamera(scanner) {
        console.log('呼叫 openCamera()')
        // alert('呼叫 openCamera()')
        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                if (cameras[1]) {
                    scanner.start(cameras[1]); // [0] 前鏡頭 [1] 後鏡頭 
                } else {
                    scanner.start(cameras[0]); // [0] 前鏡頭 [1] 後鏡頭 
                }

            } else {
                console.error('沒有找到相機');
                console.error('No cameras found.');
                alert('No cameras found.');
            }
        }).catch(function (e) {
            console.log('沒有找到鏡頭')
            console.error(e);
            alert(e);
        });
    }

    function getGatepassDate(gatepassId) {
        axios.post('/api/gatepass/package', { gatepassId: gatepassId })
            .then(response => {
                console.log(response)
                let rawHtml = ''
                response.data.response.forEach((localdata, index) => {
                    rawHtml += `
                    <div class="row mt-2">
                        <div class="col-2">
                            ${index + 1}
                        </div>
                        <div class="col-3">
                            ${localdata.name}
                        </div>
                        <div class="col-3">
                            ${localdata.id}
                        </div>
                        <div class="col-3">
                             <img src='${localdata.image}' style='width:60px; height:60px;'>
                        </div>
                    </div>
                    `


                })


                prepareToGatepassArea.innerHTML = rawHtml
            })
    }
</script>