<div class="container">
    <div><a href="/categories" class="link-success">資產類別</a></div>
    Asset Table
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                {{!-- <th scope="col">Category</th> --}}
                <th scope="col">Name</th>
                <th scope="col">Vendor</th>
                <th scope="col">Model</th>
                <th scope="col">Quantity</th>
                <th scope="col">Location</th>
                <th scope="col">Modifier</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                {{!-- <td>辦公室設備</td> --}}
                <td>螢幕</td>
                <td>ASUS</td>
                <td>VZ249</td>
                <td>29</td>
                <td>ECO3F</td>
                <td>小曼</td>
                <td>提供辦公室電腦主機輸出使用</td>
            </tr>

        </tbody>
    </table>
</div>